* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  background: linear-gradient(135deg, blue, red);
}

#decrement {
  background-color: darkgray;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  left: 125px;
  bottom: 50px;
}
h1 {
  background: linear-gradient(135deg, green, rgb(18, 125, 66));
  position: relative;
  bottom: 60px;
  left: 40px;
  width: 100px;
  height: 40px;
  text-align: right;
}
#btn {
  background-color: darkgray;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: relative;
  top: 80px;
  left: 55px;
}
.main {
  background-color: black;
  height: 200px;
  width: 170px;
  padding-top: 20px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  position: relative;
  right: 100px;
}
.tasbih1 {
  background: linear-gradient(135deg, green, rgb(18, 125, 66));
  position: relative;
  right: 100px;
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
}
.tasbih1:active {
  animation-name: royal1;
  animation-duration: 1s;
  transition: 1s;
}
@keyframes royal1 {
  50% {
    transform: rotateX(300deg);
  }
}

.tasbih2 {
  background: linear-gradient(135deg, green, rgb(18, 125, 66));
  position: relative;
  left: 300px;
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
}
.tasbih2:active {
  animation-name: royal2;
  animation-duration: 1s;
  transition: 1s;
}
@keyframes royal2 {
  50% {
    transform: rotateX(300deg);
  }
}
